NEXT_PUBLIC_SITE_URL=https://www.vokdev.com
NEXT_PUBLIC_SITE_NAME=VokDev

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://www.vokdev.com
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

# Optional
# BETTER_AUTH_TRUSTED_ORIGINS=
# CMS_ADMIN_EMAILS=
# CMS_DISABLE_SIGNUP=true
